body {
    background-color: white;
    color: black;
    width: 60%; /* 60 процентов от всей страниы */
    min-height: 400px; /* Но минимально высота будет 400px */
    /* выравниваем все элементы внутри тела по центру: */
    display: flex; 
    flex-direction: column;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    margin: auto; /* выравниваем сам body по центру всей страницы */
}

.start {
    border: none;
    background-color: black;
    padding: 10px 15px;
    cursor:pointer;
    color: white;
}

input {
    outline: none;
}

img {
  width: 500px;
  height: 500px;
  cursor: pointer;
}